# Build outputs
build/
out/
bin/

# CMake generated
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Executables
*.exe
*.app

# IDE
.vs/
.idea/

#Test data
#документация
docs/doxygen/
#черновики и вспомогательные файлы
data.json
